body {
  font-family: 'Roboto', sans-serif;
  background-color: #cecccc;
}

.wrapper {
  max-width: 1170px;
  margin: 10px auto;
}

.header {
  display: flex;
  align-items: center;
  background-color: white;
  padding-left: 25px;
  border-radius: 5px;
}

.header-info {
  margin-left: 20px;
}

.header-img {
  width: 150px;
  margin: 10px;
  border-radius: 50%;
}

.header-info-name {
  font-size: 30px;
  font-weight: 600;
  margin: 0 0 10px 0;
}

.header-info-prof{
  font-size: 20px;
  margin: 0 0 10px 0;
}

.header-info-media {
  display: flex;
  align-items: center;
}

.header-info-media a {
  width: 30px;
  margin: 5px;
}

.header-info-media a img {
  width: 100%;
}

.main {
  margin-top: 30px;
  padding: 0 20px;
}

.pages {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.page {
  background-color: white;
  width: 350px;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
}

.page-title {
  margin: 0 0 15px 0;
  font-size: 20px;
  font-weight: 600;

}

.page-info {
  margin: 0 0 25px 0;
  font-size: 18px;
}

.page-link, 
.github-link {
  display: inline-block;
  padding: 10px 20px;
  border: 1px solid black;
  border-radius: 5px;
  text-transform: capitalize;
  text-decoration: none;
  color: black;
}

.page-link:hover, 
.github-link:hover {
  background-color: black;
  color: white;
}

.page-link:active, 
.github-link:active {
  background-color: white;
  color: black;
}